<html>
<head>
    <title>Париж</title>
</head>
<body>
    <center>
        <h2>Город Париж</h2><br>
        <b>Страна:</b> Франция<br>
        <b>Национальный язык:</b> французкий<br>
        <b>Регион:</b> Иль-Де-Франс<br>
        <b>Площадь:</b> 105,4 км<sup>2</sup><br>
        <b>Население:</b> 2 196 936 человек (2015)<br>
        <u>Флаг Парижа</u><br>
        <u>Герб Парижа</u><br>
    </center>
    <div width="500" height="500">
        <div width="250" height="500" color="Maroon"></div>
        <div width="250" height="500" color="Orange"></div>
    </div>
</body>
</html>