<html>
<head>
    <title>Tablitca</title>
</head>
<body>
    <table>
        <tr>
            <td bgcolor="Maroon">A</td>
            <td bgcolor="Gold">AA</td>
            <td bgcolor="DarkGreen">AAA</td>
            <td bgcolor="Navy">AAAA</td>
            <td bgcolor="Indigo">AAAAA</td>
        </tr>
        <tr>
            <td bgcolor="Red">B</td>
            <td bgcolor="Yellow">BB</td>
            <td bgcolor="Green">BBB</td>
            <td bgcolor="Blue">BBBB</td>
            <td bgcolor="Purple">BBBBB</td>
        </tr>
        <tr>
            <td bgcolor="Salmon">C</td>
            <td bgcolor="LightYellow">CC</td>
            <td bgcolor="Lime">CCC</td>
            <td bgcolor="Cyan">CCCC</td>
            <td bgcolor="Magenta">CCCCC</td>
        </tr>
    </table>
</body>
</html>